.MenuBar {
  height: 42px;
  background-color: var(--palette-gray);
  color: var(--palette-white);
  display: flex;
  align-items: stretch;
}

.MenuBarItem {
  padding-inline: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuBarItem:hover {
  background-color: var(--palette-black);
  cursor: pointer;
}

.noHover {
  pointer-events: none;
}

.GitHubLogo {
  width: 30px;
  height: 30px;
}
