@import '../../App.css';

.InfoPanel {
  color: #222831;
  background-color: #eeeeee;
  border-radius: 15px;
  padding: 15px;
  width: 400px;
}

.LobbyEmptyPanel {
  display: flex;
  flex-direction: column;
}

.OnePlayerWaitingPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  word-wrap: break-word;
}

.TwoPlayerWaitingPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  word-wrap: break-word;
}

.PlayersPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #222831;
}

.PlayerCard {
  padding: 5%;
  gap: 5%;
  border: 1px solid #222831;
  display: flex;
  align-items: center;
  font-size: large;
}

.PlayerPiece {
  min-width: 24px;
  height: 24px;
  border: 1px solid var(--piece-border-color);
  border-radius: 13px;
}

.PlayerPiece[data-piece-type='black'] {
  background-color: var(--piece-black-color);
}

.PlayerPiece[data-piece-type='white'] {
  background-color: var(--piece-white-color);
}

hr.rounded {
  margin-top: 7%;
  margin-bottom: 7%;
  width: 95%;
  border-top: 2px solid #bbb;
  border-radius: 1px;
}

.InfoPanelButton {
  border: none;
  border-radius: 10px;
  height: 60px;
  font-size: x-large;
  font-weight: 500;
  color: #eeeeee;
}

.CreateLobbyButton {
  margin-top: 7%;
  background-color: #85c88a;
}

.StartGameButton {
  background-color: #85c88a;
}

.JoinLobbyForm {
  display: flex;
  flex-direction: column;
}

.LobbyIdLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  font-size: large;
  font-weight: 400;
}

.LobbyIdInput {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: large;
  font-weight: 400;
}

.JoinLobbyButton {
  margin-top: 7%;
  background-color: #6fb2d2;
}
