@import '../../App.css';

.GameBoard {
  background-color: var(--board-background-color);
  background-image: url('/src/assets/wood-pattern.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.Board-grid {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 40px);
}

.intersection {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-sizing: border-box;
}

.intersection[data-piece-type='black'] {
  border: 1px solid var(--piece-border-color);
  background-color: var(--piece-black-color);
}

.intersection[data-piece-type='white'] {
  border: 1px solid var(--piece-border-color);
  background-color: var(--piece-white-color);
}

.intersection:hover {
  cursor: pointer;
}

.intersection[data-piece-type='empty'][data-ghost-piece-type='black']:hover {
  border: 1px solid var(--piece-border-color);
  background-color: var(--piece-black-color);
  cursor: pointer;
}

.intersection[data-piece-type='empty'][data-ghost-piece-type='white']:hover {
  border: 1px solid var(--piece-border-color);
  background-color: var(--piece-white-color);
  cursor: pointer;
}

.intersection:before {
  pointer-events: none;
  border-top: 2px var(--board-grid-color) solid;
  width: 40px;
  display: block;
  content: '';
  top: 19px;
  position: relative;
}

.intersection[data-intersection-type~='right-edge']:before {
  width: 21px;
}

.intersection[data-intersection-type~='left-edge']:before {
  left: 19px;
  width: 21px;
}

.intersection:after {
  pointer-events: none;
  border-left: 2px var(--board-grid-color) solid;
  height: 40px;
  display: block;
  content: '';
  top: -2px;
  left: 19px;
  position: relative;
}

.intersection[data-intersection-type~='top-edge']:after {
  top: 19px;
  height: 19px;
}

.intersection[data-intersection-type~='bottom-edge']:after {
  height: 19px;
}

.intersection[data-piece-type='white']:before,
.intersection[data-piece-type='black']:before,
.intersection[data-piece-type='white']:after,
.intersection[data-piece-type='black']:after,
.intersection[data-piece-type='empty'][data-ghost-piece-type='white']:hover::before,
.intersection[data-piece-type='empty'][data-ghost-piece-type='black']:hover::before,
.intersection[data-piece-type='empty'][data-ghost-piece-type='white']:hover::after,
.intersection[data-piece-type='empty'][data-ghost-piece-type='black']:hover::after {
  content: none;
}
