:root {
  --board-background-color: #ffd369;
  --board-grid-color: #222831;
  --piece-white-color: #eee;
  --piece-black-color: #222;
  --piece-border-color: #000;
}

.App {
  text-align: center;
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
