:root {
  --palette-black: #222831;
  --palette-gray: #393e46;
  --palette-yellow: #ffd369;
  --palette-white: #eeeeee;
  --board-background-color: var(--palette-yellow);
  --board-grid-color: var(--palette-black);
  --piece-white-color: #eee;
  --piece-black-color: #222;
  --piece-border-color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex-grow: 10;
}
